<div class="container">
  <ul id="centro" class="roundabout-holder">
    <li class="roundabout-moveable-item" style="position: absolute; left: 398px; top: 51px; width: 410px; height:
        520px; opacity: 0.89; z-index: 246; font-size: 14.2px;"><%= image_tag 'store/tienda/coleccion_oro.png' %></li>
    <li class="roundabout-moveable-item" style="position: absolute; left: 398px; top: 51px; width: 410px; height:
        520px; opacity: 0.89; z-index: 246; font-size: 14.2px;"><%= image_tag 'store/tienda/coleccion_plata.png' %></li>
    <li class="roundabout-moveable-item" style="position: absolute; left: 398px; top: 51px; width: 410px; height:
        520px; opacity: 0.89; z-index: 246; font-size: 14.2px;"><%= image_tag 'store/tiendanueva_coleccion.png' %></li>
  </ul>
</div>