<div class="container">
  <ul id="centro" class="roundabout-holder">
    <li class="roundabout-moveable-item" style="position: absolute; left: 398px; top: 51px; width: 410px; height: 520px; opacity: 0.89; z-index: 246; font-size: 14.2px;"><a href="listado_articulos.html"><img src="img/coleccion_oro.png" alt="IE"></a></li>
    <li class="roundabout-moveable-item" style="position: absolute; left: 398px; top: 51px; width: 410px; height: 520px; opacity: 0.89; z-index: 246; font-size: 14.2px;"><a href="listado_articulos.html"><img src="img/coleccion_plata.png" alt="firefox"></a></li>
    <li class="roundabout-moveable-item" style="position: absolute; left: 398px; top: 51px; width: 410px; height: 520px; opacity: 0.89; z-index: 246; font-size: 14.2px;"><a href="listado_articulos.html"><img src="img/nueva_coleccion.png" alt="chrome"></a></li>
  </ul>
</div>